.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-NavHeader-typo{
  /* display: inline-flex; */
  color:#FFFFFF;
}

.HomePage-Button{
  flex-grow: 1;
}
.App-body{
  min-height: 450px;
}
.NurseProfile-page{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width:60%;
}
.NurseProfile-TextField{
  padding:10%;
}
.table-maxHeight{
  max-height: 10%;
}
.testPage-page{
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width:60%;
  text-align: center;
}
.createTest-select{
width: 40%;
}


